<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/style.css" type="text/css" />
<!--bootstrap links-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!--google fonts-->
<!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster"> -->
<link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
<!--favicon link-->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

<title>Eat-da-burger!</title>
	</head>
	<nav class="navbar navbar-inverse">
  <div id ="titleDiv">
<h1>Eat-Da-Burgers</h1>
</div>
</nav>
	<body>   
		{{{ body }}}
	</body>
</html>
