


<div id ="burgersToEat" class="col-md-4">
<h2>Burgers you have ordered:</h2>

  {{#each burgers}}
    {{#unless this.devoured}}
      
        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit" class="btn-success btn-lg">NOM TIME!</button>
        </form>

      
    {{/unless}}
  {{/each}}
  </div>

<div id ="createUpdate" class="col-md-4">
<h2>Add Your Next Burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger_name" name="burger_name">
  </div>

  
  <button type="submit" class ="btn-primary btn-lg">Add a Burger</button>
</form>
</div>




<div id="burgersEaten" class="col-md-4">
<h2>Burgers that have been devoured!</h2>


  {{#each burgers}}
    {{#if this.devoured}}
      
        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit" class="btn-danger btn-lg">Order it again!</button>
        </form>
      
    {{/if}}
  {{/each}}
</div>

